html {
  background-color: rgba(226, 232, 240, 255);
}
.main-section {
  background-color: rgba(226, 232, 240, 255);
  height: 70vh;
  flex-wrap: wrap;
  overflow: visible;
  width: 80%;
}

.card h1 {
  font-size: 20px;
  font-weight: normal;
}

.card p {
  font-size: 20px;
  color: rgb(185, 183, 183);
  font-weight: normal;
}
.main-cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 2px 0 2% 2%;
  width: 200px;
  overflow: hidden;
  border-left: 4px solid rgba(240, 180, 41, 255);
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 2px;
  box-shadow: 1px 1px black;
  background-color: white;
}

.card-footer {
  display: flex;
  flex-direction: row-reverse;
}

.main-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
}

.announcements-section {
  margin: 10px;
  width: 100%;
  overflow: visible;
}

.announcements-section h1 {
  font-size: 20px;
  border: none;
  outline: none;
}

.trending-card {
  background-color: #fff;
  border-radius: 10px 10px 0 10px;
  margin: 1px 1px 5px 1px;
}

.trend-card {
  display: flex;
}

.trending-section {
  margin: 10px;
  height: auto;
}

.trends-announcements {
  background-color: rgba(226, 232, 240, 255);
}

.announcement-card-wrapper {
  background-color: #fff;
}
